@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

body, html {
  @apply font-sans bg-gradient-to-r from-emerald-400 to-cyan-400 text-gray-800 tracking-wide;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.shimmer {
  @apply bg-gray-300/70 animate-pulse rounded-sm;
}