.input {
  @apply block
  border 
  border-blue-400/10 
  bg-white
  w-full
  mt-1
  px-3 
  text-sm
  transition-all
  text-gray-600 
  focus:outline-none 
  focus:border-blue-400
  disabled:bg-gray-100
  appearance-none;
}

.input-file {
  @apply
    flex
    border
    border-dashed
    border-gray-300
    rounded-md
    cursor-pointer
    text-sm
    text-gray-600
    py-3
    pl-10
    mt-1
}


.input-sm {
  @apply py-2 text-sm;
}
.input-md {
  @apply py-3;
}
.input-lg {
  @apply py-4 text-xl;
}

.input-icon {
  @apply h-full
    absolute
    top-0
    left-0
    flex
    items-center
    pointer-events-none
    pl-3
    text-gray-500
    z-10
    text-3xl
    peer-focus:text-blue-400;
}

.input-select-arrow {
  @apply text-gray-600
    text-2xl
    absolute
    inset-y-0
    right-2
    h-full
    transition-all
    peer-focus:-rotate-90;
}

.input-label {
  @apply font-semibold 
  text-blue-500/60
    text-sm
    cursor-pointer;
}
