

h1 {
  @apply text-3xl font-semibold;
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}

h2 {
  @apply text-2xl font-semibold;
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

h3 {
  @apply text-xl font-semibold;
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

h4 {
  @apply text-base font-semibold;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

h5 {
  @apply text-base font-medium;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}